
body{
    margin: 0;
}


.container{
    display:flex;
    
    
}
/*Starting on the left side */
.left{
    background-image: url(./leaf.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    display:flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    width: 30vw;
    height: 100vh;
    justify-content: space-between;
}

.logo-container{
    background-color: rgba(0,0,0,0.4);
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20%;
    
}

#odin-logo{
    width: 50px;
    
}



#pic-creds { 
    text-align: center;
    font-size: 8px;
}

#pic-creds a{
    color: white;  
}

/* Starting work on right side */

#intro{
    font-weight: 700;
    padding: 20px;
    margin-top: 15%;
}

.right{
    background-color: seashell;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;
    width: 70vw;
    height: 100vh;
    
}
.inputs{
    width : 500 px;
    display:flex;
    flex-flow: row wrap;
    padding: 5px;
}

.input-block{
    display:flex;
    flex-direction: column;
    margin: 5px;
    flex: 0 0 48%;
}



#submit{
    border: solid 3px black;
    padding: 14px 40px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

#login{
    margin-left: 20px;
}